.game-card {
  border: 1px solid rgb(0, 0, 0);
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border-radius: 4px;

  &__spellpower-container {
    position: absolute;
    color: black;
    width: 30px;
    height: 30px;
    background-color: #fd9409;
    border-radius: 50% 50% 50% 50% / 55% 55% 50% 50%;
    left: 5px;
    bottom: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__health-container {
    position: absolute;
    color: black;
    width: 30px;
    height: 30px;
    background-color: #fd0909;
    border-radius: 50% 50% 50% 50% / 55% 55% 50% 50%;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cost-container {
    position: absolute;
    color: black;
    width: 30px;
    height: 30px;
    background-color: #09edfd;
    border-radius: 50% 50% 50% 50% / 55% 55% 50% 50%;
    right: 5px;
    top: 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__spellpower {
    width: max-content;
  }

  &__cost {
    width: max-content;
  }

  &__health {
    width: max-content;
  }

  &__image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;

  }

  &__image-bg {
    width: 135px;
    height: 135px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 50% 50% / 55% 55% 50% 50%;
    background-size: contain;
    border: 3px solid #f1f2f6;
  }

  &__name {
    margin-top: 6px;
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 0%, #dbdae1 74%);
    border: 3px solid #494f64;
    color: black;
    width: 100%;
    min-height: 25px;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name-text {
    width: max-content;
  }
  &__description {
    margin-top: 2px;
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
    border: 3px solid #494f64;
    color: black;
    width: 100%;
    min-height: 75px;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description-text {
    width: max-content;
  }

  &__back-circle {
    border-radius: 50%;
    background: linear-gradient(25deg, #ee0404, #fd9409 200%);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__back-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
  }

  &__back-col {
    width: 50%;
    height: 50%;
    transition: 0.4s all;
    background: 
    linear-gradient(to top left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        #fd9409 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%),
    linear-gradient(to top right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        #fd9409 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%);
  }
}

.game-card--front {
  padding: 0 12px 12px 12px;
}
