@import './typography.less';
@import './variables.less';

// OVERRIDES
.ant-form-item-label > label {
  color: @white !important;
}

.ant-input {
  background-color: @bg-light !important;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border-color: @bg-light !important;
  color: @white !important;
}

.ant-input:focus {
  border-color: @primary !important;
}
